<%- include('partials/header') -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/new.css">
        
    <div class="container">
        <div style="width: 40%; margin: 25px auto;">
            <h3>New Blog Post</h3>
            <form action="/posts" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image URL" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-dark">Submit</button>
                </div>
            </form>
            <a href="/posts">Go Back</a>
        </div>
    </div>

<%- include('partials/footer') -%>