*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-family: Josefin Sans;
    font-weight: 600;
    background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 60px;
    margin: 10px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: teal;
}

.bg-custom {
    background-color: #000000;
}

.navbar-brand {
    font-family: Dancing Script;
    font-weight: 700;
}

a {
    color: #000000;
}

a:hover {
    color: #004c66;
    opacity: 0.7;
}

img {
    border: solid;
    border-color: #000000;
    margin: 4px;
    max-width: 100%;
    height: auto;
}